<!--<mat-card>-->
<!--  <p>{{produsFromApi1.titlu}}  {{produsFromApi1.id}}</p>-->
<!--  <p>{{produsFromApiQuerry.titlu}} {{produsFromApiQuerry.id}}</p>-->
<!--  <p>{{produsFromApiHeader.descriere}}  {{produsFromApiHeader.id}}</p>-->
<!--  <mat-divider></mat-divider>-->

<!--  <p>Produs list</p>-->
<!--  <mat-list role="list">-->
<!--    <mat-list-item role="listitem">Item 1</mat-list-item>-->
<!--    <mat-list-item role="listitem">Item 2</mat-list-item>-->
<!--    <mat-list-item role="listitem">Item 3</mat-list-item>-->
<!--  </mat-list>-->

<!--  <mat-divider></mat-divider>-->


<!--&lt;!&ndash;  <app-component1></app-component1>&ndash;&gt;-->
<!--</mat-card>-->
<div class="toolbar" role="banner">
  <span class="name">FaunaDB Webshop</span>
</div>

<div class="content" role="main">
  <h1>Products</h1>

  <router-outlet></router-outlet>
</div>
