<mat-card>
  <p>{{produsFromApi1.titlu}}  {{produsFromApi1.id}}</p>
  <p>{{produsFromApiQuerry.titlu}} {{produsFromApiQuerry.id}}</p>
  <p>{{produsFromApiHeader.descriere}}  {{produsFromApiHeader.id}}</p>
  <mat-divider></mat-divider>

  <p>Produs list</p>
  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>


  <app-component1></app-component1>
</mat-card>

